<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1/font/bootstrap-icons.min.css">
    <meta name="theme-color" content="#317EFB"/>
    <link rel="manifest" href="manifest.json">
    <link rel="shortcut icon" href="maskable_icon_x192.png">
</head>

<body>
    <main id="app" class="bg-secondary" style="min-height: 100vh; display: flex; flex-direction: column;">
        <nav class="navbar navbar-dark mb-4" style="border-bottom: 1px solid var(--bs-white);">
            <div class="container">
                <a class="navbar-brand" href="#">MyWordsTeacher</a>
                <i class="bi bi-record-circle-fill text-white" v-if="is_record"></i>
            </div>
        </nav>
        <div class="container mx-auto bg-white p-4" style="display: inline-block; border-radius: 10px;"
            v-if="screen == 'main'">
            <div class="mb-3">
                <label class="mb-3 w-100">
                    <span class="form-label">Список слов (Word)</span>
                    <textarea class="form-control" rows="3" v-model.lazy="allWordsText"></textarea>
                </label>
                <div class="input-group">
                    <div class="input-group-text">Количество</div>
                    <input class="form-control" title="Слово" v-model="countWords">
                    <button type="submit" class="btn btn-primary" @click="iff">Начать</button>
                </div>
            </div>
            <div class="mb-3">
                <label class="mb-3 w-100">
                    <span class="form-label">Список слов (Word)</span>
                    <textarea class="form-control" rows="3" v-model.lazy="allWordsText"></textarea>
                </label>
                <div class="input-group">
                    <div class="input-group-text">Количество</div>
                    <input class="form-control" title="Слово" v-model="countWords">
                    <button type="submit" class="btn btn-primary" @click="otfn">Начать</button>
                </div>
            </div>
        </div>
        <div class="container mx-auto bg-white p-4" style="display: inline-block; border-radius: 10px;"
            v-if="screen == 'iff_word'">
            <header style="border-bottom: 1px solid var(--bs-secondary);">
                Прослушайте слово и напишите его
            </header>
            <div class="text-center bi bi-volume-up-fill btn" style="font-size: 5rem; display: block;"
                title="Произнести слово" @click="data.onclick_btn_pronounce"></div>
            <p>Напишите слово, которое было сказанно</p>
            <div class="row g-3">
                <div class="col">
                    <input class="form-control col" title="Слово" v-model="answer">
                </div>
                <div class="col-auto">
                    <button type="submit" class="btn btn-primary mb-3" ref="go">Готово</button>
                </div>
            </div>
        </div>
        <div class="container mx-auto bg-white p-4" style="display: inline-block; border-radius: 10px;"
            v-if="screen == 'iff_result'">
            <header class="mb-3" style="border-bottom: 1px solid var(--bs-secondary);">
                Прослушайте слово и напишите его
            </header>
            <table>
                <tr v-for="(e, i) in data.words" :key="j">
                    <td v-text="i + 1 + '. '"></td>
                    <td v-text="e.f"></td>
                    <td v-if="e.lff == 'Good'" class="text-success">Good</td>
                    <td v-if="e.lff == 'Bad'" class="text-danger">Bad</td>
                </tr>
            </table>
        </div>

        <div class="container mx-auto bg-white p-4" style="display: inline-block; border-radius: 10px;"
            v-if="screen == 'otfn_word'">
            <header style="border-bottom: 1px solid var(--bs-secondary);">
                Прослушайте слово, переведите и проиизнесите
            </header>
            <div class="text-center bi bi-volume-up-fill btn" style="font-size: 5rem; display: block;"
                title="Произнести слово" @click="data.onclick_btn_pronounce"></div>
            <div class="text-center btn" style="display: block;" ref="otfn_btn">
                <div v-if="data.your_word">
                    <div style="font-size: 2rem" v-text="data.your_word"></div>
                    <!--small>Нажмите, чтобы попробовать ещё раз</small-->
                </div>
                <div style="font-size: 3rem" v-else>Готов произнести</div>
            </div>
        </div>
        <div class="container mx-auto bg-white p-4" style="display: inline-block; border-radius: 10px;"
            v-if="screen == 'otfn_result'">
            <header class="mb-3" style="border-bottom: 1px solid var(--bs-secondary);">
                Результаты
            </header>
            <table>
                <tr v-for="(e, i) in data.words" :key="j">
                    <td v-text="i + 1 + '. '"></td>
                    <td v-text="e.f"></td>
                    <td v-text="e.n"></td>
                    <td v-if="e.otfn == 'Good'" class="text-success">Good</td>
                    <td v-if="e.otfn == 'Bad'" class="text-danger">Bad</td>
                </tr>
            </table>
        </div>

    </main>
    <script src="https://cdn.jsdelivr.net/npm/vue@3/dist/vue.global.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5/dist/js/bootstrap.min.js"></script>
    <script src="main.js"></script>
    <script>
        class MySpeechAPI {
            constructor(flag, recognition_lang, onchangerecognitionstatus) {
                this.flag = flag;
                this.recognition_lang = recognition_lang;
                this.onchangerecognitionstatus = onchangerecognitionstatus;
                if (this.recognition_lang) {
                    const speechRecognition = window.SpeechRecognition || window.webkitSpeechRecognition;
                    this.recognition = new speechRecognition();
                    this.recognition.continuous = true;
                    this.recognition.lang = this.recognition_lang;
                    if (this.flag) {
                        this.onchangerecognitionstatus(true);
                        this.recognition.start();
                    };
                };
            };
            async pronounce(word, lang) {
                const temp = new SpeechSynthesisUtterance(word);
                temp.lang = lang;
                window.speechSynthesis.speak(temp);
                await new Promise(r => setInterval(() => window.speechSynthesis.speaking || r()));
            };
            async recognize() {
                if (!this.flag) {
                    this.onchangerecognitionstatus(true);
                    this.recognition.start();
                };
                const event = await new Promise(r => {
                    this.recognition.onresult = r;
                    this.recognition.onend = r;
                });
                if (event.type == "end") return "";
                if (!this.flag) {
                    this.onchangerecognitionstatus(false);
                    this.recognition.stop();
                };
                return [...event.results].at(-1)[0].transcript || "";
            };
            async close() {
                if (this.flag) {
                    this.onchangerecognitionstatus(false);
                    this.recognition.stop();
                };
            };
        };



        function shuffle(arr) {
            const array = [...arr];
            for (let i = array.length - 1; i > 0; i--) {
                let j = Math.floor(Math.random() * (i + 1));
                [array[i], array[j]] = [array[j], array[i]];
            }
            return array;
        };
      

        // iff - listenig and writing from f to f
        // otfn - oral_translation from f to n

        const app = Vue.createApp({
            data: () => ({ answer: "", screen: "main", current: 0, countWords: 3, words: [], data: {}, is_record: false, recognition_mode: true }),
            methods: {
                onchangerecognitionstatus(status) {
                    this.is_record = status;
                },
                async iff() {
                    if (this.countWords >= this.words.length) {
                        alert("Слов больше, чем есть в словаре");
                        return
                    };
                    this.data.words = shuffle(this.words).slice(null, this.countWords);
                    this.current = 0;
                    this.screen = "iff_word";
                    const my_speech = new MySpeechAPI(this.recognition_mode, "en_UK", this.onchangerecognitionstatus);
                    this.data.onclick_btn_pronounce = () => my_speech.pronounce(this.data.words[this.current].f, "en");
                    while (true) {
                        if (this.current >= this.countWords) break;
                        await new Promise(r => setTimeout(r, 500));
                        await my_speech.pronounce(this.data.words[this.current].f, "en");
                        await new Promise(r => this.$refs.go.onclick = r);
                        if (this.answer.trim().toLowerCase() == this.data.words[this.current].f) {
                            this.data.words[this.current].lff = "Good";
                        } else {
                            this.data.words[this.current].lff = "Bad";
                        };
                        this.answer = "";
                        this.current += 1;
                    };
                    my_speech.close();
                    this.screen = "iff_result";
                },
                async otfn() {
                    if (this.countWords >= this.words.length) {
                        alert("Слов больше, чем есть в словаре");
                        return
                    };
                    this.data.your_word = "";
                    this.data.words = shuffle(this.words).slice(null, this.countWords);
                    this.current = 0;
                    this.screen = "otfn_word";
                    const my_speech = new MySpeechAPI(this.recognition_mode, "ru_RU", this.onchangerecognitionstatus);
                    this.data.onclick_btn_pronounce = () => my_speech.pronounce(this.data.words[this.current].f, "en");
                    while (true) {
                        if (this.current >= this.countWords) break;
                        await new Promise(r => setTimeout(r, 500));
                        await my_speech.pronounce(this.data.words[this.current].f, "en");
                        this.data.onclick_btn_pronounce = () => { };
                        let word = await my_speech.recognize();
                        this.data.onclick_btn_pronounce = () => my_speech.pronounce(this.data.words[this.current].f, "en");
                        console.log(word);
                        if (word.trim().toLowerCase() == this.data.words[this.current].n) {
                            this.data.words[this.current].otfn = "Good";
                        } else {
                            this.data.words[this.current].otfn = "Bad";
                        };
                        this.answer = "";
                        this.current += 1;
                    };
                    my_speech.close();
                    this.screen = "otfn_result";
                },
                save() {
                    localStorage["allWordsText"] = this.allWordsText;
                },
            },
            created() {
                this.allWordsText = localStorage["allWordsText"];
            },
            computed: {
                allWordsText: {
                    get() {
                        return this.words.map(i => `${i.f}:${i.n}`).join("\n");
                    },
                    set(newVal) {
                        this.words = (newVal || "").split("\n").map(i => i.split(":")).map(e => ({
                            f: e[0], n: e[1], lff: null, otfn: null
                        }));
                    },
                },
            },
        }).mount('#app');
        window.addEventListener("beforeunload", () => app.save());
    </script>
    <script>
        navigator.serviceWorker.register('sw.js', { scope: '/MyWordsTeacher/' });
    </script>
</body>

</html>